@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Doctolib</h1>
    <p>Un pépin? un médecin !</p>
</div>
<div class="row no-gutters">


    <div class="col-sm-1"></div>
    <div class="col-sm"><div class="border" style="background-color: cadetblue; text-align: center;">COVID-19 : Bon à savoir</div></div>
    <div class="col-sm-1"></div>
</div>
<div class="row no-gutters">
    <div class="col-sm-1"></div>

    <div class="col-sm d-flex align-items-stretch">
        <div class="border">

            <div class="card-body infoscovid">
                <h5 class="card-title">Vaccination : des rendez-vous prochainement</h5>
                <p class="card-text">
                    En raison d'une forte demande et d'un stock limité de vaccins, les créneaux dans les centres se font rares.

                    De nouveaux créneaux seront proposés prochainement. Nous vous tiendrons informés sur cette page.
                </p>
                <a href="#" class="card-link">En savoir plus...</a>
            </div>
        </div>



    </div>
    <div class="col-sm d-flex align-items-stretch">
        <div class="border">

            <div class="card-body infoscovid">
                <h5 class="card-title">Vaccination : Ou en sommes nous?</h5>
                <p class="card-text">
                    Afin de répondre à vos interrogations sur le rythme de la vaccination, Doctolib lance l'initiative #VaccinationOùQuand.

                    Découvrez les statistiques clés sur la vaccination, par région et par département.
                </p>
                <button class="btn btn-primary" type="submit">Accédez à nos statistiques</button><br>
                <a href="#" class="card-link">En savoir plus...</a>
            </div>
        </div>

    </div>
    <div class="col-sm d-flex align-items-stretch">
        <div class="border">

            <div class="card-body infoscovid">
                <h5 class="card-title">Privilégiez la consultation vidéo</h5>
                <p class="card-text">
                    Ce mode de consultation vous permet de consulter de chez vous et est recommandé dans le cadre de la crise sanitaire actuelle.

                    Pensez-y pour obtenir des réponses sur la vaccination contre le COVID-19 (éligibilité, contre-indications, etc.)..
                </p>
                <button class="btn btn-primary" type="submit">Accédez à nos statistiques</button><br>
                <a href="#" class="card-link">En savoir plus...</a>
            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>
